<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>My Blog</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img style="border-radius: 5px;" src="assets/a-blog.jpg" alt="a blog logo" height="70">
            </div>
            <div class="header-menu">
                <a href="/">Home</a>
                <a href="/newBlog">Create</a>
                <a href="/updateBlog">Update</a>
                <a href="/deleteBlog">Delete</a>
                <a href="">Sign out</a>
            </div>
        </div>
    </header>